{% extends 'index.html' %}{% load static %} {% block body %}

<div class="landing_page container" data-aos="zoom-in" data-aos-duration="1000">
  <div>
    <div>
      <h1 style="font-size: 55px; margin-top: 150px">
        Your Complete<br/> finance Solution
      </h1>
      <p>Welcome to Lena Bank</p>
    </div>
    <div>
      <p>View users, check balances, transfer money<br />and more.</p>
    </div>
    <button type="button" class="btn btn-dark get-started">Get started</button>
    
  </div>
  <br>
  <br>
  <br>
</div>

{% endblock %}
